/*
COMP 1950 Final Project - Website Redesign, Dec. 9, 2015
GENERAL
*/
body {
    width: 100%;
    background-color: rgb(236, 240, 241);
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.container {
    width: 65%;
    margin-right: 1.2em;
    flex: 2.5;
}

.sidebar {
    width: 35%;
    flex: 1;
}

.caps {
    text-transform: uppercase;
}

/*
TOP HEADER: BCIT, COURSE NAME & LECTURE TOPICS
*/
header {
    width: 100%;
    height: 85px;
    font-weight: 700;
    padding: 10px 2em;
    line-height: .5em;
    box-sizing: border-box;
    color: rgb(54, 152, 219);
    background-color: rgb(42, 61, 79);
}

header a:link, header a:visited, header a:active {
    color: rgb(55, 147, 220);
}

header a:hover {
    text-decoration: none;
    color: rgb(251, 210, 77);
}

/*
MAIN CONTENT
*/
main {
    margin: 0;
    max-width: 100%;
}

main section {
    width: 100%;
    margin: 1em 0;
    padding-bottom: 2em;
}

/*
MAIN CONTENT - 1st SECTION
*/
main h1 { /*Main Page Title*/
    color: white;
    margin: .3em 0;
    padding: 0.7em 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: rgb(231, 76, 59);
}

main section * {
    line-height: 1.8em;
    box-sizing: border-box;
}

main section {
    background-color: rgb(133, 174, 212);
}

main section h2 { /*Section Title - General*/
    margin: 0;
    font-size: 1.3em;
    padding: .5em 1.55em;
    text-transform: uppercase;
    color: rgb(236, 240, 241);
    background-color: rgb(43, 62, 80);
}

main section h3 {
    margin: 0;
    width: 100%;
    font-size: 1em;
    padding: .4em 2em;
    color: rgb(236, 240, 241);
    background-color: rgb(61, 98, 134);
}

main section h4 {
    margin: 0;
    width: 100%;
    padding: 1em 2em .5em;
    background-color: rgb(133, 174, 212);
}

main section p {
    margin: 0;
    width: 100%;
    padding: 1em 2em .5em;
}

main section ul {
    margin: 0;
    width: 100%;
    padding-left: 4em;
    padding-bottom: 1em;
}

main ul li {
    padding-bottom: .7em;
}

main section code, main section pre {
    color: #ECF0F1;
    padding: .2em .4em;
    background-color: rgb(43, 128, 185);
}

/*
MAIN HOME
*/
main section {
    background-color: rgb(43, 62, 80);
}

main .home h2 { /*Section Title*/
    color: rgb(236, 240, 241);
    background-color: rgb(43, 62, 80);
}

main .home h3 {
    color: rgb(236, 240, 241);
    background-color: rgb(61, 98, 134);
}

main .home h4, main .home {
    background-color: rgb(133, 174, 212);
}

main .home ul {
    margin: 0;
    padding-left: 4em;
    padding-bottom: 1em;
    background-color: rgb(133, 174, 212);
}

/*
MAIN CONTENT - 2nd SECTION --> FOR JAMIE TO DO
*/
main .media-queries {
    background-color: rgb(245, 223, 158);
}

main .media-queries h2 { /*Section Title*/
    color: rgb(34, 91, 100);
    background-color: rgb(251, 210, 77);
}

main .media-queries h3 {
    color: inherit;
    background-color: transparent;
}

main .media-queries h4, main .media-queries p {
    margin: 0;
    width: 100%;
    color: inherit;
    padding: 1em 2em .5em;
    background-color: transparent;
}

main .media-queries ul {
    margin: 0;
    width: 100%;
    padding-left: 4em;
    padding-bottom: 1em;
}

/*
MAIN CONTENT - 3rd SECTION --> FOR JAMIE TO DO
*/
main .responsive {
    background-color: rgb(159, 211, 215);
}

main .responsive h2 {
    color: rgb(255, 253, 223);
    background-color: rgb(34, 91, 100);
}

main .responsive h3 {
    color: inherit;
    background-color: transparent;
}

main .responsive h4, main .responsive p {
    margin: 0;
    width: 100%;
    padding: 1em 2em .5em;
}

main .responsive ul {
    margin: 0;
    width: 100%;
    padding-left: 4em;
    padding-bottom: 1em;
}

/*
MAIN CONTENT - SUMMARY --> FOR JAMIE TO DO
*/
main .summary {
    background-color: rgb(233, 108, 95);
}

main .summary h2 {
    color: rgb(255, 246, 216);
    background-color: rgb(231, 75, 58);
}

main .summary h4, main .summary p {
    margin: 0;
    width: 100%;
    color: inherit;
    padding: 1em 2em .5em;
    background-color: transparent;
}

main .summary ul {
    margin: 0;
    width: 100%;
    padding-left: 4em;
    padding-bottom: 1em;
}

main .summary code, main .summary pre {
    background-color: rgb(196, 87, 74);
}

/*
CONTACT
*/
input {
    border: 1px solid rgb(102, 102, 102);
}

textarea {
    width: 90%;
    height: 100px;
}

button {
    padding: 4px 10px;
    background-color: white;
    border: 1px solid rgb(102, 102, 102);
}

/*
QUIZZES
*/
#q1, #q2, #q4 {
    width: 90%;
    height: 50px;
}

#q3 {
    width: 200px;
}

/*
RIGHT COLUMN [ASIDE]
*/
aside {
    flex: 1;
    width: 25%;
}

aside section {
    margin: 0 0 1em;
}

aside h1 {
    margin: 0;
    padding: 0;
    height: 85px;
    font-size: 1.3em;
    line-height: 85px;
    text-align: center;
    color: rgb(43, 128, 185);
    text-transform: uppercase;
}

aside li, aside p {
    font-size: 1.2em;
    line-height: 2em;
}

/*
ASIDE LECTURES
*/
aside .lectures h1 {
    background-color: rgb(43, 62, 80);
}

aside .lectures a:link, aside .lectures a:visited {
    text-decoration: none;
    color: rgb(236, 240, 241);
}

aside .lectures a:hover, aside .lectures a:active {
    color: rgb(255, 211, 78);
}

aside .lectures ol {
    margin: 0;
    padding: 1em 1em 1em 4em;
    color: rgb(236, 240, 241);
    background-color: rgb(43, 128, 185);
}

aside .lectures ol li a:link, aside .lectures ol li a:visited {
    text-decoration: none;
    color: rgb(236, 240, 241);
}

aside .lectures ol li a:hover, aside .lectures ol li a:active {
    color: rgb(255, 211, 78);
    text-decoration: underline;
}

/*
ASIDE AGENDA
*/
aside .agenda h1 {
    margin: 0;
    color: rgb(236, 240, 241);
    background-color: rgb(231, 76, 59);
}

aside .agenda ul {
    margin: 0;
    color: white;
    padding: .5em 4em;
    background-color: rgb(233, 109, 95);
}

/*
ASIDE REFERENCES
*/

aside .references {
    margin-top: 1em;
    color: rgb(43, 128, 185);
}

aside .references h1 {
    margin: 0;
    background-color: rgb(255, 211, 78);
}

aside .references ul {
    margin: 0;
    padding: .5em 4em;
    background-color: rgb(253, 227, 146);
}

aside .references a:link, aside .references a:visited {
    text-decoration: none;
    color: rgb(43, 128, 185);
}

aside .references a:hover, aside .references a:active {
    color: rgb(43, 62, 80);
    text-decoration: underline;
}

/*
ASIDE EXERCISES
*/
aside .exercises {
    margin-top: 1em;
    color: rgb(236, 240, 241);
}

aside .exercises h1 {
    margin: 0;
    padding: .4em 2em;
    background-color: rgb(48, 105, 111);
}

aside .exercises ul {
    margin: 0;
    padding: .5em 4em;
    background-color: rgb(109, 148, 152);
}

aside .exercises a:link, aside .exercises a:visited {
    text-decoration: none;
}

aside .exercises a:hover, aside .exercises a:active {
    text-decoration: underline;
}

/*
ASIDE HOMEWORK
*/
aside .homework {
    margin-top: 1em;
}

aside .homework h1 {
    margin: 0;
    color: rgb(236, 240, 241);
    background-color: rgb(231, 76, 59);
}

aside .homework ul {
    margin: 0;
    color: black;
    padding: .5em 4em;
    background-color: rgb(233, 109, 95);
}

/*
FOOTER
*/
footer {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    padding: 0 3em 2em;
    background-color: rgb(43, 62, 80);
}

footer section {
    flex: 1;
    width: 19%;
}

footer h5 {
    margin: 2.5em 0 .8em;
    color: rgb(76, 166, 176);
    text-transform: uppercase;
}

footer ul {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

footer li {
    list-style: none;
    line-height: 2em;
}

footer li a:link, footer li a:visited {
    text-decoration: none;
    color: rgb(154, 197, 201);
}

footer li a:hover, footer li a:active {
    color: rgb(255, 211, 78);
    text-decoration: underline;
}